.spinner{
    animation-name: spin;
    animation-duration: 4s;
    transform-origin: 50% 50%;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes spin{
    0%{
        rotate: 0deg
    }
    50%{
        rotate: 180deg
    }
    100%{
        rotate: 360deg
    }
}